.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.header p {
  font-size: var(--size-lg);
  line-height: 1.5;
  opacity: 0.8;
  width: 100%;
}

.title:any-link {
  color: var(--theme-color);
  font-size: var(--size-xl);
}
