.article {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 250px;
}

.go-back {
  color: var(--theme-color);
  display: block;
  margin: 20px 0;
  opacity: 1;
  padding: 20px 8px;
  width: fit-content;

  &::before {
    content: '←';
    margin-right: 15px;
  }
}

@media (max-width: 1200px){
  .contents {
    display: none;
  }
  .article {
    grid-template-columns: 1fr;
  }
}