.list {
  list-style: none;
  padding: 0;
  border-left: 1px solid var(--light-text-color);
  padding-left: 15px;

  li {
    margin: 10px 0;

    a {
      color: var(--text-color);
      font-weight: 300;
      transition: margin .3s;

      &:hover {
        margin-left: 5px;
      }
    }
  }
}
