@import "../../styles/variables";

.footer {
  background-color: var(--theme-color);
  color: #222;
  margin-top: 100px;
  min-height: 25vh;
  display: grid;

  & > * {
    margin: auto;
  }
  .links {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    list-style: none;
    padding: 0;

    .icon {
      color: inherit;
      font-size: 40px;
      transition: transform 0.5s;

      a {
        color: inherit;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .comments {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    label {
      display: block;
      margin: 0 10px 20px;
    }
    textarea {
      border: none;
      width: 100%;
      max-width: 400px;
      border-radius: 10px;
      overflow: hidden;
      height: 50px;
      font-size: var(--size);
      resize: none;
    }
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;

      & > :first-child {
        font-size: 30px;
      }
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .footer > .comments > textarea {
    max-width: 250px;
  }
}
