.heading {
  align-items: center;
  color: var(--light-text-color);
  display: flex;
  font-weight: 400;
  margin-left: 10px;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: var(--size);

  &::after {
    background-color: var(--theme-color);
    content: "";
    display: block;
    height: 1px;
    margin: 0 15px;
    width: 100%;
  }
}

.alert {
  background-color: var(--theme-color);
  border-radius: 5px;
  color: var(--bkg-color);
  font-size: var(--size);
  padding: 10px;
  text-align: center;
  width: 100%;
}