.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0;
  opacity: 0.85;
  transition: all 0.4s;
  color: var(--text-color);


  .title {
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 25px;
    margin: 0;
    overflow: hidden;
    width: 80%;

    a {
      color: var(--text-color);
    }
  }

  .subtitle {
    color: var(--light-text-color);
    font-size: 0.9rem;
    margin: 10px 25px;
    width: 100%;
  }

  &::before {
    background-color: var(--theme-color);
    border-radius: 2px;
    content: "";
    height: 10px;
    margin: auto 10px;
    width: 10px;
    opacity: .85;
  }

  &:hover {
    opacity: 1;
    transform: scale(1.025);

    &::before {
      opacity: 1;
    }
  }
}