@import '../../styles/variables';

.button {
  align-items: center;
  background: transparent;
  border: none;
  border-radius: 8px;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  font-size: 1.2rem;
  height: 40px;
  justify-content: center;
  opacity: 0.95;
  transition: .7s;
  width: 40px;
  
  &.withBg {
    background: var(--bkg-color);
  }
}

.button:hover,
.button:active,
.button:focus {
  opacity: 1;
  background: var(--text-color);
  color: var(--bkg-color); 
}
