@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500&display=swap');
@import 'variables';

body {
  --text-color: #222;
  --light-text-color: #555;
  --bkg-color: #e0e0e0;
  --anchor-color: #0033cc;
  --theme-color: #3B82F6;

  --font-family: Rubik;

  --size: 16px;
  --size-lg: 20px;
  --size-xl: 36px;
  --font-size-primary: 18px;

  &.js-theme {
    --theme-color: #96891b;
  }
  &.react-theme {
    --theme-color: #3294af;
  }
  &.angular-theme {
    --theme-color: #dd0031;
  }
  &.vue-theme {
    --theme-color: #149a5d;
  }
  &.svelte-theme {
    --theme-color: #ea592a;
  }
}
body.dark {
  --text-color: #D9D9D9;
  --light-text-color: #888;
  --bkg-color: #1a202c;
  --anchor-color: #809fff;

  &.js-theme {
    --theme-color: #f7e018;
  }
  &.react-theme {
    --theme-color: #61dafb;
  }
  &.angular-theme {
    --theme-color: #f80034;
  }
  &.vue-theme {
    --theme-color: #42b983;
  }
  &.svelte-theme {
    --theme-color: #ff3e00;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--text-color);
  background-color: var(--bkg-color);
}

a,
.rnr-container a, 
.rnr-container :any-link {
  color: var(--anchor-color);
  opacity: 1;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
}

.rnr-container * {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
}

h1 {
  font-size: 28px;
  font-weight: 500;
}

p, span, a {
  word-break: break-word;
}

@media (max-width: $mobile-breakpoint) {
  body {
    --size: 14px;
    --size-lg: 16px;
    --size-xl: 26px;
  }
}

body {
  --font-size-primary: 1.15rem;;
}

.rnr-container * {
  letter-spacing: .2px;
  line-height: 1.5;
}

.theme-color {
  color: var(--theme-color);
}